<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raccoonsquare.dating">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_CORSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.location.network" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />

    <application
        android:name="com.raccoonsquare.dating.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">

        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <!-- AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <meta-data
            android:name="android.app.default_searchable"
            android:value="com.raccoonsquare.dating.SearchActivity" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.raccoonsquare.dating.AppActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_action_push_notification" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service
            android:name="com.raccoonsquare.dating.service.MyFcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.raccoonsquare.dating.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.raccoonsquare.dating.SignupActivity"
            android:label="@string/title_activity_signup"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.raccoonsquare.dating.MainActivity"
            android:label="@string/title_activity_feeds" />
        <activity
            android:name="com.raccoonsquare.dating.RecoveryActivity"
            android:label="@string/title_activity_recovery"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.raccoonsquare.dating.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="com.raccoonsquare.dating.WebViewActivity"
            android:label="@string/title_activity_web_view" />
        <activity
            android:name="com.raccoonsquare.dating.ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.raccoonsquare.dating.ServicesActivity"
            android:label="@string/title_activity_services" />
        <activity
            android:name="com.raccoonsquare.dating.ProfileActivity"
            android:label="@string/title_activity_profile" />
        <activity
            android:name="com.raccoonsquare.dating.NotificationsActivity"
            android:label="@string/title_activity_notifications" />
        <activity
            android:name="com.raccoonsquare.dating.PhotoViewActivity"
            android:label="@string/title_activity_photo_view"
            android:theme="@style/PhotoViewTheme" />
        <activity
            android:name="com.raccoonsquare.dating.LikesActivity"
            android:label="@string/title_activity_likes" />
        <activity
            android:name="com.raccoonsquare.dating.AccountSettingsActivity"
            android:label="@string/title_activity_account_settings"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.raccoonsquare.dating.BlackListActivity"
            android:label="@string/title_activity_black_list" />
        <activity
            android:name="com.raccoonsquare.dating.DialogsActivity"
            android:label="@string/title_activity_dialogs" />
        <activity
            android:name="com.raccoonsquare.dating.ChatActivity"
            android:label="@string/title_activity_chat"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.raccoonsquare.dating.NotificationsSettingsActivity"
            android:label="@string/title_activity_notifications_settings" />
        <activity
            android:name="com.raccoonsquare.dating.PrivacySettingsActivity"
            android:label="@string/title_activity_privacy_settings" />
        <activity
            android:name="com.raccoonsquare.dating.SupportActivity"
            android:label="@string/title_activity_support"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.raccoonsquare.dating.LocationActivity"
            android:label="@string/title_activity_location"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.raccoonsquare.dating.DeactivateActivity"
            android:label="@string/title_activity_deactivate"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.raccoonsquare.dating.AddPhotoActivity"
            android:label="@string/title_activity_new_item"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.raccoonsquare.dating.GalleryActivity"
            android:label="@string/title_activity_gallery"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.raccoonsquare.dating.SelectGiftActivity"
            android:label="@string/title_activity_select_gift"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.raccoonsquare.dating.SendGiftActivity"
            android:label="@string/title_activity_send_gift"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.raccoonsquare.dating.GiftsActivity"
            android:label="@string/title_activity_gifts"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.raccoonsquare.dating.FriendsActivity"
            android:label="@string/title_activity_friends"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.raccoonsquare.dating.MatchesActivity"
            android:label="@string/title_activity_matches"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.raccoonsquare.dating.BalanceActivity"
            android:label="@string/title_activity_balance"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme">
        </activity>
        <activity
            android:name="com.raccoonsquare.dating.PeopleNearbyActivity"
            android:label="@string/title_activity_nearby"
            android:theme="@style/MyMaterialTheme">

        </activity>
        <activity
            android:name="com.raccoonsquare.dating.ViewImageActivity"
            android:label="@string/title_activity_view_gallery_item"
            android:theme="@style/MyMaterialTheme">
        </activity>
        <activity
            android:name="com.raccoonsquare.dating.LikersActivity"
            android:label="@string/title_activity_likers" />
        <activity
            android:name="com.raccoonsquare.dating.VideoViewActivity"
            android:label="@string/title_activity_video_view"
            android:theme="@style/PhotoViewTheme"
            android:configChanges="orientation|screenSize|layoutDirection" />
        <activity
            android:name="com.raccoonsquare.dating.WelcomeActivity"
            android:label="@string/title_activity_welcome"/>
        <activity
            android:name="com.raccoonsquare.dating.ReferralsActivity"
            android:label="@string/title_activity_referrals"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.raccoonsquare.dating.SelectFeelingActivity"
            android:label="@string/title_activity_feelings"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.raccoonsquare.dating.UpgradesActivity"
            android:label="@string/title_activity_upgrades"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.raccoonsquare.dating.GuestsActivity"
            android:label="@string/title_activity_guests"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.raccoonsquare.dating.LikedActivity"
            android:label="@string/title_activity_liked"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.raccoonsquare.dating.RegisterActivity"
            android:label="@string/title_activity_signup"/>

        <activity
            android:name=".BalanceHistoryActivity"
            android:label="@string/title_activity_balance_history"/>

        <activity
            android:name=".SpotlightActivity"
            android:label="@string/title_activity_spotlight"/>

        <activity
            android:name=".OtpVerificationActivity"
            android:label="@string/title_activity_otp_verification"/>

        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/MyMaterialTheme">
        </activity>

        <activity
            android:name=".StreamActivity"
            android:label="@string/title_activity_stream"
            android:theme="@style/MyMaterialTheme">
        </activity>

    </application>

</manifest>